.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #033043;
  padding: 10px 20px;
}

.header .logo h1 {
  color: #FDA521;
  font-size: 24px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: #FDA521;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}