.hero-banner {
  padding: 40px;
  text-align: center;
  background-color: #033043;
  color: #fff;
}

.hero-banner h1 {
  font-size: 2.5rem;
}

.hero-banner p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.welcome-message {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  text-align: center;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
