.sidebar {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recent-posts {
  margin-bottom: 20px;
}

.recent-posts h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.recent-posts ul {
  list-style: none;
  padding: 0;
}

.recent-posts li {
  margin-bottom: 10px;
}

.sidebar-link {
  color: #033043;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  color: #FDA521;
}