.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 10px;
  }
  
  .tag-list span {
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .tag-list span {
    padding: 8px;
    background-color: var(--light-background); /* Light beige for background */
    color: var(--dark-color); /* Deep teal for text */
    border-radius: 4px;
    cursor: pointer;
  }